# Maven
/target/

# JUnit / Test reports
/target/surefire-reports/

### Allure
/.allure
/target/allure-results/
/target/site/allure-maven-plugin/

# IDE
/.idea/
/*.iml
/.vscode/
/out/

# Logs
*.log

# Compiled class files
*.class